body {
  font-family: Arial;
  padding: 20px;
  background: #f0f8ff;
  text-align: center;
}

form {
  margin: auto;
  max-width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #ccc;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}
